*,
*::before, *::after,
*:before, *:after {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 100vh;
  background: black;
  position: relative;
  overflow: hidden;
}
header .botomm-line {
  width: 96%;
  height: 1px;
  background: #6b6868;
  position: fixed;
  bottom: 2%;
  left: 2%;
  z-index: 200;
}
header .left-line {
  width: 1px;
  height: 94%;
  background: #6b6868;
  position: fixed;
  left: 2%;
  top: 4%;
}
header .right-line {
  width: 1px;
  height: 94%;
  background: #6b6868;
  position: fixed;
  right: 2%;
  top: 4%;
}
header .wrapper {
  width: 100%;
  height: 3rem;
  position: fixed;
  padding-top: 0.7rem;
  z-index: 200;
}
header .nav {
  width: 96%;
  height: 3rem;
  border-top: 1px solid #6b6868;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
header .logo {
  width: 3rem;
  height: 100%;
  border: 1px solid #6b6868;
  position: relative;
  cursor: pointer;
  border-top: none;
  transition: all 0.5s ease;
}
header .logo::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #6b6868;
  bottom: 0.2rem;
  left: 0.2rem;
}
header .logo p {
  content: "menu";
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: -25%;
  left: 50%;
  opacity: 0;
  transition: all 0.2s linear;
}
header .logo:hover p {
  left: 120%;
  opacity: 1;
}
header .menu {
  width: 3rem;
  height: 100%;
  float: right;
  border: 1px solid #6b6868;
  position: relative;
  cursor: pointer;
  border-top: none;
  transition: all .5s ease;
}
header .menu::before {
  content: "";
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #6b6868;
  bottom: 0.2rem;
  left: 0.19rem;
  border-radius: 50%;
  transition: all 0.3s linear;
}
header .rect p{
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: -25%;
  right: 50%;
  opacity: 0;
  transition: all 0.2s linear;
}
header .rect:hover p{
  right: 120%;
  opacity: 1;
}
header .menu:hover::before {
  width: 80%;
  height: 80%;
  border-radius: 0;
  left: 0.27rem;
  bottom: 0.24rem;
}
.menu.active{
  background: white;
}
.rect p.active{
  color: black;
}
.logo p.active{
  color: black;
}
.logo.active{
  background: white;
}
header .barras-menu {
  width: 70%;
  height: 70%;
  position: absolute;
  top: 15%;
  left: 15%;
}
header span {
  width: 100%;
  height: 1px;
  background: #6b6868;
  position: absolute;
  top: 0.4rem;
}
header span:nth-child(1) {
  width: 90%;
  height: 1px;
  background: #6b6868;
  position: absolute;
  top: 0.9rem;
}
header span:nth-child(2) {
  width: 80%;
  height: 1px;
  background: #6b6868;
  position: absolute;
  top: 1.3rem;
}
header .hide-menu {
  display: none;
}
header nav {
  width: 100%;
  height: 100%;
  background: #ffffff;
  position: fixed;
  top: 0;
  z-index: 99999;
  animation: menu-desp 0.4s ease-in 1;
}
@keyframes menu-desp {
  from {
    top: -100%;
  }
  to {
    top: 0;
  }
}
header ul {
  width: 10rem;
  height: auto;
  position: absolute;
  top: 0;
  padding-left: 5rem;
}
header li {
  padding: 2.5rem 0 0 1rem;
}
header a {
  text-decoration: none;
  color: #6b6868;
  font-size: 2rem;
  font-family: "Open Sans", sans-serif;
  position: relative;
  text-transform: uppercase;
}
header a::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 1px;
  background: #6b6868;
  transition: all 0.3s linear;
}
header a:hover::after {
  width: 100%;
}
header .cerrar {
  padding: 0.5em;
  background: none;
  position: absolute;
  left: 2%;
  top: 0%;
  border: none;
  outline: none;
  font-size: 1.5rem;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease;
}
header .title {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
header h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  color: white;
  font-size: 6rem;
  position: relative;
}
header h1::before {
  content: "";
  width: 3%;
  height: 100%;
  background: black;
  position: absolute;
  left: 16%;
  box-shadow: 115px 1px black, 242px 1px black;
}
header h1::after {
  content: "";
  position: absolute;
  width: 120%;
  height: 3px;
  background: white;
  top: 100%;
  left: -10%;
  opacity: 0;
  animation: welcome 2s ease-out 1;
}
@keyframes welcome {
  0% {
    transform: scale(0);
    transform-origin: center;
  }
  49% {
    transform: scale(0);
    transform-origin: center;
  }
  80% {
    transform: scale(0.5);
    transform-origin: center;
  }
  95% {
    transform: scale(0.5);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.main-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.inicio .circulo {
  width: 20rem;
  height: 20rem;
  background: #6b6868;
  opacity: 0.3;
  position: absolute;
  margin-top: 2rem;
  left: -10%;
  border-radius: 50%;
  z-index: -100;
}
.inicio .content {
  padding: 5rem 0 0 0;
}
.inicio .imagen {
  width: 90%;
  max-width: 40rem;
  top: 4rem;
  position: relative;
  left: 5%;
}
.inicio .imagen img {
  width: 90%;
  position: relative;
  left: 5%;
  z-index: 190;
  filter: grayscale(1);
  transition: all 0.5s ease;
}
.inicio .imagen img:hover {
  filter: grayscale(0.2);
}

section {
  margin-bottom: 6rem;
}

h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  position: relative;
  color: #044e8a;
  margin-bottom: 1rem;
  font-size: 2rem;
}

* p {
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.8rem;
}

.main-wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.inicio .circulo {
  width: 20rem;
  height: 20rem;
  background: #6b6868;
  opacity: 0.3;
  position: absolute;
  margin-top: 2rem;
  left: -10%;
  border-radius: 50%;
  z-index: -100;
}
.inicio .content {
  padding: 5rem 0 0 0;
}
.inicio .imagen {
  width: 90%;
  max-width: 40rem;
  top: 4rem;
  position: relative;
  left: 5%;
}
.inicio .imagen img {
  width: 90%;
  position: relative;
  left: 5%;
  z-index: 190;
  filter: grayscale(1);
  transition: all 0.5s ease;
}
.inicio .imagen img:hover {
  filter: grayscale(0.2);
}

.tabla {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 40rem;
  padding-left: 0.5rem;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  border: 1px solid rgba(7, 86, 151, 0.1);
}
.tabla .items {
  font-weight: 800;
  text-transform: uppercase;
  position: relative;
  padding-top: 0.5rem;
}
.tabla .items::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  width: 350%;
  height: 1px;
  background: #424242;
  opacity: 0.2;
}
.tabla .items::before {
  content: "";
  position: absolute;
  top: 30%;
  left: calc(650%/2);
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #424242;
  opacity: 0.2;
}
.tabla .numeros {
  padding: 0.25rem 0;
}

.names {
  flex: 1;
}

.barras {
  flex: 4;
}

.percents {
  flex: 1;
}

.geografia {
  position: relative;
}
.geografia .imagen-geo {
  position: absolute;
  top: 0;
  right: 0;
  width: 60%;
  max-width: 25rem;
  height: auto;
}
.geografia .mountains {
  width: 50%;
  height: auto;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.geografia .mountains img {
  width: 100%;
  max-width: 15rem;
}
.geografia .galery {
  margin-top: 4rem;
  width: 95%;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}
.geografia .galery img {
  width: 100%;
  filter: grayscale(0.9);
  transition: 0.8s ease;
  position: relative;
}
.geografia .galery img:hover {
  filter: grayscale(0);
}

.bio h3 {
  font-family: "Open Sans", sans-serif;
  /* font-weight: 700; */
  text-transform: uppercase;
  position: relative;
  color: #044e8a;
  margin-top: 4rem;
  margin-bottom: 3rem;
  font-size: 1.3rem;
  text-align: center;
}
.bio .origami {
  margin-bottom: 2rem;
  width: 50%;
  margin: 0 auto;
}
.bio .origami img {
  width: 100%;
}
.bio .btn-info {
  width: 100%;
  text-align: center;
  color: #044e8a;
}
.bio button {
  width: 5rem;
  padding: 0.5rem 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 1.5rem;
  outline: none;
}
.bio button:hover {
  box-shadow: 1px 2px 5px black;
}

.imagen-his {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.imagen-his img {
  width: 100%;
  filter: grayscale(0.9);
  transition: 0.8s ease;
}
.imagen-his img:hover {
  filter: grayscale(0);
}

.imagen-eco {
  width: 80%;
  /* margin-left: auto;
  margin-right: auto; */
  position: relative;
  left: 10%;
}
.imagen-eco img {
  width: 100%;
  max-width: 17rem;
}

aside {
  width: 90%;
  position: relative;
  text-align: center;
  margin: 0 auto;
}
aside button {
  width: 5rem;
  padding: 0.5rem 0;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.4s ease;
  outline: none;
  font-size: 1.5rem;
}
aside button:hover {
  box-shadow: 1px 2px 5px black;
}

footer {
  width: 100%;
  height: 6rem;
  text-align: center;
}
footer p {
  padding-top: 2.5rem;
}

@media screen and (min-width: 886px) {
  .inicio .circulo {
    width: 22rem;
    height: 22rem;
  }

  .galery {
    max-width: 45rem;
  }

  .bio .origami img {
    max-width: 15rem;
  }

  .imagen-his {
    max-width: 45rem;
  }

  .imagen-eco {
    max-width: 45rem;
  }
}
@media screen and (min-width: 996px) {
  p {
    width: 90%;
    position: relative;
    left: 5%;
  }

  h2 {
    width: 90%;
    position: relative;
    left: 5%;
  }

  .inicio .circulo {
    left: 5%;
  }
}
@media screen and (min-width: 1121px) {
  .inicio .imagen {
    top: 6rem;
  }
}
@media screen and (min-width: 1284px) {
  .inicio .wrapper-flex {
    display: flex;
    justify-content: space-between;
  }
  .inicio .content {
    width: 50%;
  }
  .inicio .imagen {
    width: 40%;
    left: 0;
    align-self: center;
  }
  .inicio .tabla {
    margin-top: 5rem;
  }

  .geografia .wrapper-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .geografia .content {
    width: 50%;
  }
  .geografia .mountains {
    width: 40%;
    left: 0;
    align-self: center;
  }
  .geografia .galery {
    margin-top: 8rem;
  }
  .geografia .galery .marco {
    position: relative;
  }
  .geografia .galery .marco::after {
    content: "";
    position: absolute;
    top: 4rem;
    left: -20%;
    width: 25rem;
    height: 1px;
    background: black;
  }
  .geografia .galery .marco::before {
    content: "Lavanda, Provenza";
    position: absolute;
    top: 0%;
    left: -20%;
    color: black;
    font-size: 3rem;
    font-family: "Open Sans", sans-serif;
    z-index: 99999;
  }
  .geografia .galery .marcel::after {
    left: 80%;
  }
  .geografia .galery .marcel::before {
    content: "Marcel Marceau";
    left: 80%;
    width: 50%;
  }
  .geografia .galery .chamonix::before {
    content: "Chamonix";
  }
  .geografia .galery .burdeos::after {
    left: 80%;
  }
  .geografia .galery .burdeos::before {
    content: "Burdeos";
    left: 80%;
    width: 50%;
  }
  .geografia .galery .louvre::before {
    content: "Louvre, Paris";
  }
  .geografia .galery .eiffel-60::after {
    left: 80%;
  }
  .geografia .galery .eiffel-60::before {
    content: "Torre Eiffel, 1937";
    left: 80%;
    width: 55%;
  }
  .geografia .galery .eiffel::before {
    content: "Campos Eliseos";
  }
  .geografia .galery .michel::after {
    left: 80%;
  }
  .geografia .galery .michel::before {
    content: "Saint Michel";
    left: 80%;
    width: 55%;
  }

  .bio {
    display: flex;
  }

  .titulo-origami {
    width: 40%;
  }

  .contenido {
    width: 50%;
    align-self: flex-end;
    margin-top: 5rem;
  }

  .his .wrapper-flex {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
  .his .content {
    width: 50%;
  }
  .his .imagen-his {
    width: 40%;
    left: 0;
    align-self: center;
  }

  .eco .wrapper-flex {
    display: flex;
    justify-content: space-between;
  }
  .eco .content {
    width: 50%;
  }
  .eco .imagen-eco {
    width: 40%;
    left: 0;
    align-self: center;
  }
}

/*# sourceMappingURL=style4.css.map */
