.bio{
    h3{
        font-family: 'Open Sans', sans-serif;
        /* font-weight: 700; */
        text-transform: uppercase;
        position: relative;
        color: rgb(4, 78, 138);
        margin-top: 4rem;
        margin-bottom: 3rem;
        font-size: 1.3rem;
        text-align: center;
    }
    .origami{
        margin-bottom: 2rem;
        width: 50%;
        margin: 0 auto;
        img{
            width: 100%;
        }
    }
    .btn-info{
        width: 100%;
        text-align: center;
        color: rgb(4, 78, 138);
    }
    button{
        width: 5rem;
        padding: 0.5rem 0;
        background: none;
        border: none;
        cursor: pointer;
        transition: all 0.4s ease;
        font-size: 1.5rem;
        outline: none;
        &:hover{
            box-shadow: 1px 2px 5px black;
        }
    }
}
