header{
    width: 100%;
    height: 100vh;
    background-color: $blackHeader;
    /* overflow: hidden; */
    .frames{
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
    }
    .rect1{
        width: 98%;
        height: 96%;
        border: .5px solid #424242;
        position: absolute;
        left: 1%;
        top: 2%;
    }
    .rect_fixed{
        width: 97%;
        height: 98%;
        border: .5px solid #424242;
        position: fixed;
        z-index: 10;
        left: 1.5%;
        top: 1%;
        overflow: hidden;
    } 
    .cabecera{
        width: 100%;
        height: 4rem; 
        position: absolute;
        z-index: 10;
        top: 0;
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .home{
        width: 1rem;
        height: 1rem;
        left: 1rem;
        position: relative;
        cursor: pointer;
    }
    .square1{
        width: 90%;
        height: 90%;
        border: 1px solid white;
        position: absolute;
        top: 5%;
        left: 5%;
        transition: all 0.4s ease;
        &:hover{
            transform: rotate(45deg);
            border-radius: 50%;
        }
    }
    .square2{
        width: 150%;
        height: 150%;
        border: 1px solid white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .menu{
        padding-right: 0.5rem;
    }
    button{
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        font-size: 1.5rem;
        position: relative;
        outline: none;
        cursor: pointer;
        &::before{
            content: '';
            width: 90%;
            height: 0.3rem;
            background: $blackHeader;
            position: absolute;
            top: 50%;
        }
    }  
    nav{
        display: none;
    }
    .show{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        color:  white;
        background: rgb(121, 121, 202);
    }
    ul{
        padding: 0 2rem;
    }
    li{
        padding-top: 0.5rem;
        font-family: 'Open Sans', sans-serif;
        text-transform: uppercase;
    }
    .headding{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        font-size: 3rem;
        position: relative;
        &::after{
            content: '';
            width: 3%;
            height: 100%;
            background: $blackHeader;
            position: absolute;
            left: 16%;
            box-shadow: 80px 1px $blackHeader,
                        122px 1px $blackHeader
        }
    }
    .marco{
        width: 15rem;
        height: 6rem;
        border: .3px solid #424242;
        position: absolute;
    }
}