header{
    width: 100%;
    height: 100vh;
    background-color: $blackHeader;
    /* overflow: hidden; */
    .frames{
        width: 100%;
        height: 100%;
        /* overflow: hidden; */
    }
    .rect1{
        width: 98%;
        height: 96%;
        border: .5px solid white;
        position: absolute;
        left: 1%;
        top: 2%;
    }
    .rect_fixed{
        width: 97%;
        height: 98%;
        border: .5px solid $blackHeader;
        position: fixed;
        z-index: 10;
        left: 1.5%;
        top: 1%;
        overflow: hidden;
    } 
    .cabecera{
        width: 100%;
        height: 7rem; 
        position: absolute;
        z-index: 10;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .home{
        width: 2.5rem;
        height: 2.5rem;
        left: 3rem;
        position: relative;
        cursor: pointer;
    }
    .square1{
        width: 100%;
        height: 100%;
        border: 1px solid white;
        position: absolute;
        transition: all 0.4s ease;
        &:hover{
            transform: rotate(45deg);
        }
    }
    .square2{
        width: 1.5rem;
        height: 1.5rem;
        border: 1px solid white;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .menu{
        padding-right: 3rem;
    }
    button{
        background: none;
        border: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        font-size: 2rem;
        position: relative;
        outline: none;
        cursor: pointer;
        &::before{
            content: '';
            width: 110%;
            height: 0.3rem;
            background: $blackHeader;
            position: absolute;
            top: 50%;
        }
    }  
    nav{
        display: none;
    }
    .headding{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    h1{
        font-family: 'Open Sans', sans-serif;
        font-weight: 300;
        text-transform: uppercase;
        color: white;
        font-size: 6rem;
        position: relative;
    }
    .marco{
        width: 30rem;
        height: 8rem;
        border: .3px solid white;
        position: absolute;
    }
    .shadow{
        width: 2%;
        height: 70%;
        background: $blackHeader;
        position: relative;
        top: 15%;
        left: 25.5%;
        box-shadow: 162px 1px $blackHeader,
                    243px 1px $blackHeader,

    }
}



.rect_fixed_black{
        width: 97%;
        height: 98%;
        border: .5px solid white;
        position: fixed;
        z-index: 21;
        left: 1.5%;
        top: 1%;
    }