section{
    width: 100%;
    position: relative;
    z-index: 20;
    padding-top: 2rem;
    &::before{
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background: $blackHeader;
        opacity: 0.1;
        left: 25%;
        z-index: 10;
        top: 0;
    }
    &::after{
        content: '';
        position: absolute;
        height: 100%;
        width: 1px;
        background: $blackHeader;
        opacity: 0.1;
        left: 45%;
        z-index: 10;
        top: 0;
    }
}
p{
    @include texto;
    width: 100%;
    max-width: 40rem;
}
h2{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: rgb(4, 78, 138);
}
h3{
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    position: relative;
    color: rgb(4, 78, 138);
    text-align: center;
    &::after{
        content: '';
        width: 1px;
        height: 5rem;
        background: #424242;
        opacity: 0.3;
        position: absolute;
        top: 100%;
        left: 50%;
    }
}
.main_container{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.container {
    padding: 0.5rem;
    margin-left: auto;
    margin-right: auto;
  }
  .ini{
      width: 100%;
      .circulo{
          position: absolute;
          z-index: 20;
          width: 26rem;
          height: 26rem;
          border-radius: 50%;
          background: black;
          opacity: 0.1;
      }
    .icono{
        width:5rem;
        height: 5rem;
        background-image: url('../assets3/montañasSvg.svg');
        background-size: contain;
        background-repeat: no-repeat;
    }
  /*   .dashed_square{
        position: absolute;
        width: 12rem;
        height: 12rem;
        border: 1px dashed black;
        transform: rotate(45deg);
    } */
    .imagen{
        width: 100%;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 4rem;
        position: relative;
        img{
            width: 100%;
            position: relative;
            z-index: 10;
            filter: grayscale(1);
            transition: all 1s ease;
            &:hover{
                filter: grayscale(0.2);
            }
        }
    }
    .tabla{
        margin-left: auto;
        margin-right: auto;
        width: 100%;
        max-width: 40rem;
        padding-left: 0.5rem;
        margin-top: 4rem;
        display: flex;
        align-items: center;
        border: 1px solid rgba(7, 86, 151, 0.1);
        .items{
            font-weight: 800;
            text-transform: uppercase;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                top: 50%;
                left: 100%;
                width: 350%;
                height: 1px;
                background: #424242;
                opacity: 0.2;
            }
            &::before{
                content: '';
                position: absolute;
                top: 0%;
                left: calc(650%/2);
                width: 1rem;
                height: 1rem;
                border-radius: 50%;
                background: #424242;
                opacity: 0.2;
            }
        }
    }
    .names{
        flex: 1;
    }
    .barras{
        flex: 4;
    }
    .percents{
        flex: 1;
    }
  }

/* geo */

.geo{
    .imagen-geo{
        width: 100%;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0rem;
        position: relative;
        img{
            width: 100%;
            position: relative;
            z-index: 10;
            filter: grayscale(1);
            transition: all 1s ease;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
    .origami{
        width: 50%;
        margin: 0 auto;
        img{
            margin-top: 5rem;
        }
    }
    .galery{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        .marco{
            width: 100%;
            max-width: 40rem;
            position: relative;
            img{
                width: 100%;
                position: relative;
                z-index: 10;
                filter: grayscale(1);
                transition: all 1s ease;
                &:hover{
                    filter: grayscale(0);
                }
            }
        }
    }
}

.his{
    .imagen{
        width: 100%;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0rem;
        position: relative;
        img{
            width: 100%;
            position: relative;
            z-index: 10;
            filter: grayscale(1);
            transition: all 1s ease;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}


.eco{
    .imagen{
        width: 100%;
        max-width: 40rem;
        margin-left: auto;
        margin-right: auto;
        padding-top: 0rem;
        position: relative;
        img{
            width: 100%;
            position: relative;
            z-index: 10;
            filter: grayscale(1);
            transition: all 1s ease;
            &:hover{
                filter: grayscale(0);
            }
        }
    }
}

aside{
    width: 90%;
    margin-left: auto;
    margin-right: auto; 
    text-align: center;
    button{
        width: 6rem;
        /* padding: 1rem; */
        background: none;
        border: 1px dotted black;
        font-size: 2rem;
        font-size: 'Open sans';
        color: black;
        position: relative;
        z-index: 1000;
        cursor: pointer;
        transition: all 0.2s ease;
        &:hover{
            background: black;
            color: white;
            border: 1px dotted white;
        }

    }
}

footer{
    text-align: center;

}






/* fade */
   
  .content {
  
    &__top {
      
    }
  
    &__top,
    &__title,
    &__link,
    &__copy {
      margin-bottom: 0;
      -webkit-transform: translate3d(0, 30px, 0);
      transform: translate3d(0, 30px, 0);
      opacity: 0;
      transition: all 1s ease;
    }
  
    &__title {
      margin-top: 0;
    }
  
    &__link {
      color: black;
      display: inline-block;
      margin-top: 10px;
    }
  }
  
  .fade {
    .content__top,
    .content__title,
    .content__copy,
    .content__link {
      transition: all 1s ease;
      -webkit-transform: translateZ(0px);
      transform: translateZ(0px);
      opacity: 1;
    }
  
    .content__top {
      transition-delay: 0s;
    }
  
    .content__title,
    .content__copy {
      transition-delay: 0.2s;
    }
  
    .content__link {
      transition-delay: 0.6s;
    }
  }


